<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dedsec_x47.trainer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trainer">
        <activity
            android:name=".aiTrainer.GalleryView"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".aiTrainer.FullImageView"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.HammerCurlViews"
            android:exported="true" />
        <activity
            android:name=".exercisePages.CreateNewChallenge"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.SquatInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.SplitsquatInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.SitupInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.ShoulderPressDInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.ShoulderPressBInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.PushUpInstr"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.LegRaiseInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.HammerCurlInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.DeadliftInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.ChinUpInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.BenchPressDInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.BenchPressBInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.instructions.PlankInst"
            android:exported="true" />
        <activity
            android:name=".exercisePages.MiniGames"
            android:exported="true" />
        <activity
            android:name=".exercisePages.WeightLoss"
            android:exported="true" />
        <activity
            android:name=".exercisePages.Strength"
            android:exported="true" />
        <activity
            android:name=".SetAlarm"
            android:exported="true"
            android:theme="@style/FragmentTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".auth.SignIn"
            android:exported="true" />
        <activity
            android:name=".auth.SignUp"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeFragments.FeedbackActivity"
            android:exported="true"
            android:theme="@style/FragmentTheme" />
        <activity
            android:name=".homeFragments.SettingsActivity"
            android:exported="true"
            android:theme="@style/FragmentTheme" />
        <activity
            android:name=".HomeScreen"
            android:exported="true"
            android:theme="@style/FragmentTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".aiTrainer.poseDetect"
            android:exported="true">
<!--             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>